/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background:rgb(15, 1, 53);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
